:root{
	--mainColor:#700872;
	--secondaryColor:#5F0E60;

	--borderColor:#FF93EE;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(29, 21, 32, 0.8);
	--previewShadow:#2b202f;


	--buttonColor:#8534a3;


}
